<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {237, 1262}}</string>
		<string>{{238, 0}, {1338, 1262}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>3327FE27-49A8-4454-84EA-A1DC525AF657</key>
		<dict>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>49D4F98F-B68D-4D09-96F9-1F13A6DE2D44</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7BFB0B8D-9F93-4CF3-AF23-8791E7313EE9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8719395C-044D-4A8E-91BF-26BCBFCEFCC9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9E869D40-5E4E-4FD2-A88B-A8A7A6399F0A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BB518838-9CC5-4DFA-97A0-79DB80483B89</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF35F0BA-9E5A-49EF-BF99-F402A7601B6F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FC0122DA-9D54-47A1-B774-70A3E18A6489</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {2028, 288}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1082, 1232}}</string>
		<string>{{1083, 0}, {255, 1232}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>301</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>2</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 125 1576 1290 0 0 2560 1415 </string>
	<key>supportingDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {533.5, 588}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>2</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
